---
import Layout from '../layouts/Layout.astro';

const products = [
  {src:'/products/product-1.jpg',description:'Dummy Rojo'},
  {src:'/products/product-2.jpg',description:'Dummy Azul'},
  {src:'/products/product-3.jpg',description:'Accesorios'},
  {src:'/products/product-4.jpg',description:'Dummy Morado'},
  {src:'/products/product-5.jpg',description:'Dummy Rosa'},
  {src:'/products/product-6.jpg',description:'Dummy Naranja'},
  {src:'/products/product-7.jpg',description:'Dummy Negro'},
  {src:'/products/product-8.jpg',description:'Dummy Blanco'}
]

---

<Layout title="TriDix">
  
	<main class="!mb-8">
    <div id="modal" class="hidden bg-black/80 fixed top-0 left-0 w-screen h-screen z-40 ease-in-out">
      <section class="fixed top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 aspect-[9/16] overflow-hidden h-[80dvh] w-[90dvw] md:w-96 justify-center flex rounded-xl">
        <img id="img-modal" class="w-auto h-full" src={''} alt={''}>
      </section>
    </div>
    <section class="grid gap-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
      {products.map((product,index)=>
      <button id="btn-card" data-index={index} class="flex rounded-xl overflow-hidden shadow-lg hover:shadow-xl relative  aspect-[9/16] min-w-42 justify-center">
          <img class='duration-200  h-full w-auto hover:scale-110' src={product.src} alt={product.description} title={product.description}>
          <h3 class='bg-[var(--color-primary)] text-white flex justify-center py-4 capitalize font-bold text-base absolute bottom-0 left-0 right-0 opacity-80'>{product.description}</h3>
      </button>
        )}
    </section>
	</main>
  
</Layout>

<script define:vars={{products}}>
  const buttons = document.querySelectorAll('#btn-card')
  const modal = document.getElementById('modal')
  const imgModal = document.getElementById('img-modal')

  modal.addEventListener('click',(e)=>{

    if(e.target !=e.currentTarget) return
    modal.classList.add('hidden')
  })

  buttons.forEach(button=>{
  button.addEventListener('click',(e)=>{
    const btn = e.currentTarget
    const src = products[btn.dataset.index].src
    imgModal.src=products[btn.dataset.index].src
    modal.classList.remove('hidden')
  })
  })
</script>

<style>
	main {
		margin: auto;
		width: 800px;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
	}
	
</style>
